@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  max-width: 100%;
}

:root {
  --colorEnlaces: #ffff00;
  --color2: rgb(182, 245, 10);
  --color3:#404047 ;
  --colorFondoP: #404047b0 ;
  --fontsXs:0.8rem;
  --fontsLow: 1rem;
  --fontsMediun:1.2rem;
  --fontsHigh:1.6rem;
  --hoverEnlaces: bolder;
  --fontFamily:"Irish Grover", cursive;
  --fontFamilyT:"Libre Baskerville", serif;
  --colorBujia: #2d3323ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  max-width: 100%;
}

:root {
  --colorEnlaces: #ffff00;
  --color2: rgb(182, 245, 10);
  --color3:#404047 ;
  --colorFondoP: #404047b0 ;
  --fontsXs:0.8rem;
  --fontsLow: 1rem;
  --fontsMediun:1.2rem;
  --fontsHigh:1.6rem;
  --hoverEnlaces: bolder;
  --fontFamily:"Irish Grover", cursive;
  --fontFamilyT:"Libre Baskerville", serif;
  --colorBujia: #2d3323ab;
}

/* ////////////////INICIO DEL HEADER ////////////*/
.headerContainer {
  background-color: var(--color3);
  position: fixed;
  margin: 0 auto;
  padding: 1%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: auto;
  z-index: 1;
}
.headerContainer h1 {
  /* word-break: break-all;  para que bajen de a una las letras */
  /* box-shadow: rgb(0 0 0 / 50%) 12px 15px 13px;  para darle sombras a las cajas*/
  font-size: var(--fontsHigh);
  font-family: var(--fontFamily);
  color: var(--colorEnlaces);
  width: 25%;
  margin: 1rem auto;
}
@media only screen and (max-width: 680px) {
  .headerContainer h1 {
    font-size: var(--fontsLow);
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.headerContainer .boxContainer {
  width: 30%;
  height: 10%;
  margin: 1rem 10%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 680px) {
  .headerContainer .boxContainer {
    display: none;
  }
}
.headerContainer .boxContainer input {
  width: 100%;
  padding: 2%;
  border-radius: 100px;
}
.headerContainer .navContainer {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}
.headerContainer .navContainer ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
@media only screen and (max-width: 680px) {
  .headerContainer .navContainer ul {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 681px) {
  .headerContainer .navContainer ul {
    margin: 0 3rem;
    width: 100%;
  }
}
.headerContainer .navContainer ul a {
  color: var(--colorEnlaces);
  font-size: var(--fontsMediun);
  font-family: var(--fontFamilyT);
  transition: all 1s;
  text-decoration: none;
}
.headerContainer .navContainer ul a:hover {
  color: black;
  font-weight: var(--hoverEnlaces);
  border-radius: 50%;
  padding: 0.5%;
  background-color: var(--colorEnlaces);
}
@media only screen and (max-width: 680px) {
  .headerContainer .navContainer ul a {
    font-size: var(--fontsXs);
  }
}

/*FIN DE HEADER */
body {
  background-image: url(/img/decoracion/floresVerdes.jpg);
  font-size: 62.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* WHATSAPP */
}
body .whatsapp {
  position: fixed;
  right: 5%;
  bottom: 10%;
  width: 50px;
}
body .whatsapp:hover {
  transition: all 1s;
  transform: rotate(380deg) scale(2);
}

/* Inicio Main */
.containerImg {
  padding-top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-size: contain;
}
.containerImg img {
  background-position: center center;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  margin: 8rem 0 10rem 0;
}
@media only screen and (max-width: 768px) {
  .containerImg img {
    margin: 6.7rem auto 2rem auto;
  }
}

/* INICIO TITULO DESCARGA */
.descargasContainer {
  display: flex;
  justify-content: center;
}
.descargasContainer a {
  color: var(--colorEnlaces);
  font-size: var(--fontsMediun);
  font-weight: bolder;
}
@media only screen and (max-width: 580px) {
  .descargasContainer a {
    font-size: var(--fontsLow);
  }
}

/* FIN TITULO DESCARGA */
/* FIN MAIN */
/* Creando style de productos */
.headerProductos {
  top: 0px;
  left: 0px;
}

section .containerProductos {
  background-color: #eaeded;
  width: 95%;
  max-width: 1000px;
  margin: 10em auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
section .containerProductos .banner {
  grid-column: 1/6;
  background: #0c0b0b;
  opacity: 0.8;
  color: #FFFFFF;
  width: 80%;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  margin-top: 0px;
}
@media only screen and (max-width: 575px) {
  section .containerProductos .banner {
    display: none;
  }
}
section .containerProductos .banner .vertical {
  border-right: 3px solid #ff0000;
  display: flex;
  justify-content: space-between;
}
section .containerProductos .banner .vertical .span2,
section .containerProductos .banner .vertical .bannerTitle {
  margin: 0;
}
section .containerProductos .banner .vertical .span2 {
  align-items: center;
  justify-items: center;
}
section .containerProductos .formulario {
  margin-top: 1em;
  grid-column: span 2;
  width: 80%;
}
@media only screen and (max-width: 575px) {
  section .containerProductos .formulario {
    display: none;
  }
}
section .containerProductos .div1 {
  grid-column: span 3;
  display: flex;
  margin-top: 1em;
  padding: -10px;
  margin-left: -30px;
  margin-right: 15px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 575px) {
  section .containerProductos .div1 {
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    grid-column: 1/6;
    gap: 0px;
  }
}
section .containerProductos .div1 .box {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  padding: 0;
  height: auto;
  min-height: 355px;
  margin-top: 10px;
  margin-left: 20px;
  flex: 0 30%;
}
@media only screen and (max-width: 575px) {
  section .containerProductos .div1 .box {
    gap: 10em;
    flex: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
}
section .containerProductos .div1 .box .card img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
section .containerProductos .div1 .box .card div .card-text {
  box-sizing: border-box;
}
section .containerProductos .div1 .box .card div .button {
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px auto;
  padding: 5px auto;
  width: 100%;
  height: 40px;
}
section .containerProductos .div1 .box:hover {
  box-shadow: 1px 1px 10px 1px #868181;
  transition-duration: 0.5s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 1;
}

/* INICIO ARTICLE CAROUSEL */
article {
  margin: 10rem auto;
}
article .kCarouselContainer {
  background-color: var(--colorFondoP);
  border-radius: 1rem;
  margin: 10 rem auto;
}
@media only screen and (max-width: 575px) {
  article .kCarouselContainer {
    margin-left: 0.2rem;
  }
}
article .kCarouselContainer img {
  margin: 1rem auto;
  border-radius: 1rem;
}
article .kCarouselContainer H3 {
  color: var(--colorEnlaces);
  text-align: center;
  margin: 1rem auto;
}
article .kParrafoContainer {
  color: var(--color2);
  font-weight: lighter;
  margin: 2rem auto;
  text-align: center;
}

/* FIN CAROUSEL / TIERRA */
/* INICIO FOOTER */
footer {
  background: linear-gradient(86.91deg, #eac5bfc7 -21.79%, rgba(234, 197, 191, 0.795) -5.84%, rgba(210, 230, 237, 0.795) 8.03%, rgba(249, 217, 187, 0.781) 16.55%, rgba(215, 218, 208, 0.788) 22.66%, rgba(196, 231, 244, 0.808) 33.96%, rgba(237, 242, 237, 0.801) 46.53%, rgba(248, 237, 235, 0.822) 53.86%, rgba(224, 238, 243, 0.801) 64.68%, rgba(244, 230, 216, 0.829) 76.21%, rgba(228, 243, 247, 0.815) 86.49%, rgba(244, 228, 221, 0.788) 93.48%);
  justify-content: center;
  margin-top: 8rem;
  padding: 5rem;
}
footer .container .row .col h3 {
  color: red;
}
footer .container .row .col p a {
  text-decoration: none;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
