*{
    margin: 0%;
    padding: 0%;
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');



:root{
    --fontFamily:'Irish Grover', cursive ;
    --fontsLow:1.1rem;
    --fontsMediun:1.3rem;
    --color2: rgb(182, 245, 10);
}



/* Body */

body{
background-image: url(./imagenOrganica.jpg);
font-size: 62.5%;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

.sectionProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productosContainer{
    background-color: #d5cbe3;
    font-family: var(--fontFamily);
    border: solid red;
    border-radius: 1rem;
    width: 15rem;
    height: auto;
    text-align: center;
    margin: 20px;
}
:hover.productosContainer{
    border:solid var(--color2);
    position: relative;
    bottom: 20px;
}

.productosContainer h2{
    font-size: var(--fontsMediun);
}

.fotoProductos{
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-size: cover;
    border-radius: 10px;
}

.boton{
    margin:1rem;
    padding: 3%;
    width: 50%;
    background-color: #800000;
    color: var(--color2);
    font-family: 'Libre Baskerville', serif;
}
:hover.boton{
    background-color: yellowgreen;
    color: #000;
    transition: 1s;
    border-radius: 1rem;
}