
/* Inicio Main */
.containerImg{
    padding-top: 0;
    display: flex;
    justify-content: center;
    width: 100%;  
    margin: 0 auto;
    background-size: contain;

    img{
        background-position: center center;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        margin: 8rem 0 10rem 0;
        @media only screen and(max-width: 768px){
            margin: 6.7rem auto 2rem auto;
        }
    }
}


/* INICIO TITULO DESCARGA */

.descargasContainer{
    display: flex;
    justify-content: center;
    a{
        color: var(--colorEnlaces);
        font-size: var(--fontsMediun);
        font-weight: bolder;
        @media only screen and (max-width:580px){
            font-size: var(--fontsLow);
        }
    }
}
/* FIN TITULO DESCARGA */
/* FIN MAIN */

