


 /* INICIO SECTION PRODUCTOS */
 .sectionContainer{
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100rem;
    width: 90%;
    margin: 10rem auto;     

    .productosContainer {
        width: 20rem;
        margin:2rem;
        background-color:var(--color3);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        &:hover{
            border: solid 4px green;
            position: relative;
            bottom: 10px;
        }
        .fotoContainer{
            img{
                background-size: cover;
                width: 100%;
                border-radius: 1rem;
            }
        }
        h2{
            text-align: center;
            font-family: var(--fontFamilyT);
            font-size:var(--fontsMediun);
            color:var(--colorEnlaces);
            margin: 0.5em;
        }
        p{
            font-size: var(--fontsLow);
            color: var(--color2);
            text-align: center;
            margin: auto 10px;
        }
    }
}

/*FIN SECTION PRODUCTOS*/