

/* INICIO ARTICLE CAROUSEL */
article{
    margin: 10rem auto;

    .kCarouselContainer{
        background-color:var(--colorFondoP);
        border-radius: 1rem;
        margin: 10 rem auto;
        @media only screen and(max-width:575px){
            margin-left: 0.2rem;
        }
        img{
            margin: 1rem auto;
            border-radius: 1rem;
        }
        H3{
            color: var(--color2);
            text-align: center;
            margin: 1rem auto;
        }
    }
    .kParrafoContainer{
        margin: 2rem auto;
        text-align: center;
        p{
            font-size: var(--fontsMediun);
            color:var(--colorEnlaces);
            font-weight: bolder;

            @media only screen and(max-width:320px){
                font-size: var(--fontsXs)
            }
            
        }
    }
}
/* FIN CAROUSEL / TIERRA */